body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter";
}

h1 {
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

p {
  font-size: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 15px;
}

/* Social Links Profile Section*/
.social {
  background-color: hsl(0, 0%, 12%);
  width: 280px;
  padding: 1rem;
  height: 450px;
  border-radius: 4%;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

.handles {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  font-weight: 600;
}

.handles:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
  color: black;
}

.handles:focus {
  background-color: hsl(75, 94%, 57%);
  color: black;
  transition: all 0.5secs ease-in-out;
}

/* Attribution Section */
.attribution {
  position: relative;
  top: 80px;
}
